:root {
  --color-primary: #5f27cd;
  --color-primary-opposite: #f19b1a;
  --color-background-grey: #f5f5f5;
  --color-typo-grey-dark: #212121;
  --color-typo-grey-light: #8f959b;
  --color-typo-grey-light-2: #a9b1b8;
  --color-typo-grey: #48515d;
  --color-line-grey: rgb(226, 226, 226);
  --color-background-grey-light: #efefef;
  --color-background-grey-light2: #f9f9f9; }

/*
  Respond manager
  37.5em => 600px
  56.23em => 900px
  66.875em => 1070px
  75em => 1200px
  112.5em => 1800px
*/
.u-m-0 {
  margin: 0; }

.u-mb-0,
.u-my-0 {
  margin-bottom: 0; }

.u-mt-0,
.u-my-0 {
  margin-top: 0; }

.u-ml-0,
.u-mx-0 {
  margin-left: 0; }

.u-mr-0,
.u-mx-0 {
  margin-right: 0; }

.u-m-1 {
  margin: 0.5rem; }

.u-mb-1,
.u-my-1 {
  margin-bottom: 0.5rem; }

.u-mt-1,
.u-my-1 {
  margin-top: 0.5rem; }

.u-ml-1,
.u-mx-1 {
  margin-left: 0.5rem; }

.u-mr-1,
.u-mx-1 {
  margin-right: 0.5rem; }

.u-m-2 {
  margin: 1rem; }

.u-mb-2,
.u-my-2 {
  margin-bottom: 1rem; }

.u-mt-2,
.u-my-2 {
  margin-top: 1rem; }

.u-ml-2,
.u-mx-2 {
  margin-left: 1rem; }

.u-mr-2,
.u-mx-2 {
  margin-right: 1rem; }

.u-m-3 {
  margin: 2rem; }

.u-mb-3,
.u-my-3 {
  margin-bottom: 2rem; }

.u-mt-3,
.u-my-3 {
  margin-top: 2rem; }

.u-ml-3,
.u-mx-3 {
  margin-left: 2rem; }

.u-mr-3,
.u-mx-3 {
  margin-right: 2rem; }

.u-m-4 {
  margin: 3rem; }

.u-mb-4,
.u-my-4 {
  margin-bottom: 3rem; }

.u-mt-4,
.u-my-4 {
  margin-top: 3rem; }

.u-ml-4,
.u-mx-4 {
  margin-left: 3rem; }

.u-mr-4,
.u-mx-4 {
  margin-right: 3rem; }

.u-m-5 {
  margin: 4rem; }

.u-mb-5,
.u-my-5 {
  margin-bottom: 4rem; }

.u-mt-5,
.u-my-5 {
  margin-top: 4rem; }

.u-ml-5,
.u-mx-5 {
  margin-left: 4rem; }

.u-mr-5,
.u-mx-5 {
  margin-right: 4rem; }

.u-m-6 {
  margin: 6rem; }

.u-mb-6,
.u-my-6 {
  margin-bottom: 6rem; }

.u-mt-6,
.u-my-6 {
  margin-top: 6rem; }

.u-ml-6,
.u-mx-6 {
  margin-left: 6rem; }

.u-mr-6,
.u-mx-6 {
  margin-right: 6rem; }

.u-p-0 {
  padding: 0; }

.u-pb-0,
.u-py-0 {
  padding-bottom: 0; }

.u-pt-0,
.u-py-0 {
  padding-top: 0; }

.u-pl-0,
.u-px-0 {
  padding-left: 0; }

.u-pr-0,
.u-px-0 {
  padding-right: 0; }

.u-p-1 {
  padding: 0.5rem; }

.u-pb-1,
.u-py-1 {
  padding-bottom: 0.5rem; }

.u-pt-1,
.u-py-1 {
  padding-top: 0.5rem; }

.u-pl-1,
.u-px-1 {
  padding-left: 0.5rem; }

.u-pr-1,
.u-px-1 {
  padding-right: 0.5rem; }

.u-p-2 {
  padding: 1rem; }

.u-pb-2,
.u-py-2 {
  padding-bottom: 1rem; }

.u-pt-2,
.u-py-2 {
  padding-top: 1rem; }

.u-pl-2,
.u-px-2 {
  padding-left: 1rem; }

.u-pr-2,
.u-px-2 {
  padding-right: 1rem; }

.u-p-3 {
  padding: 2rem; }

.u-pb-3,
.u-py-3 {
  padding-bottom: 2rem; }

.u-pt-3,
.u-py-3 {
  padding-top: 2rem; }

.u-pl-3,
.u-px-3 {
  padding-left: 2rem; }

.u-pr-3,
.u-px-3 {
  padding-right: 2rem; }

.u-p-4 {
  padding: 3rem; }

.u-pb-4,
.u-py-4 {
  padding-bottom: 3rem; }

.u-pt-4,
.u-py-4 {
  padding-top: 3rem; }

.u-pl-4,
.u-px-4 {
  padding-left: 3rem; }

.u-pr-4,
.u-px-4 {
  padding-right: 3rem; }

.u-p-5 {
  padding: 4rem; }

.u-pb-5,
.u-py-5 {
  padding-bottom: 4rem; }

.u-pt-5,
.u-py-5 {
  padding-top: 4rem; }

.u-pl-5,
.u-px-5 {
  padding-left: 4rem; }

.u-pr-5,
.u-px-5 {
  padding-right: 4rem; }

.u-p-6 {
  padding: 6rem; }

.u-pb-6,
.u-py-6 {
  padding-bottom: 6rem; }

.u-pt-6,
.u-py-6 {
  padding-top: 6rem; }

.u-pl-6,
.u-px-6 {
  padding-left: 6rem; }

.u-pr-6,
.u-px-6 {
  padding-right: 6rem; }

@media (max-width: 37.5em) {
  .u-m-0--xs {
    margin: 0; }
  .u-mb-0--xs,
  .u-my-0--xs {
    margin-bottom: 0; }
  .u-mt-0--xs,
  .u-my-0--xs {
    margin-top: 0; }
  .u-ml-0--xs,
  .u-mx-0--xs {
    margin-left: 0; }
  .u-mr-0--xs,
  .u-mx-0--xs {
    margin-right: 0; }
  .u-m-1--xs {
    margin: 0.5rem; }
  .u-mb-1--xs,
  .u-my-1--xs {
    margin-bottom: 0.5rem; }
  .u-mt-1--xs,
  .u-my-1--xs {
    margin-top: 0.5rem; }
  .u-ml-1--xs,
  .u-mx-1--xs {
    margin-left: 0.5rem; }
  .u-mr-1--xs,
  .u-mx-1--xs {
    margin-right: 0.5rem; }
  .u-m-2--xs {
    margin: 1rem; }
  .u-mb-2--xs,
  .u-my-2--xs {
    margin-bottom: 1rem; }
  .u-mt-2--xs,
  .u-my-2--xs {
    margin-top: 1rem; }
  .u-ml-2--xs,
  .u-mx-2--xs {
    margin-left: 1rem; }
  .u-mr-2--xs,
  .u-mx-2--xs {
    margin-right: 1rem; }
  .u-m-3--xs {
    margin: 2rem; }
  .u-mb-3--xs,
  .u-my-3--xs {
    margin-bottom: 2rem; }
  .u-mt-3--xs,
  .u-my-3--xs {
    margin-top: 2rem; }
  .u-ml-3--xs,
  .u-mx-3--xs {
    margin-left: 2rem; }
  .u-mr-3--xs,
  .u-mx-3--xs {
    margin-right: 2rem; }
  .u-m-4--xs {
    margin: 3rem; }
  .u-mb-4--xs,
  .u-my-4--xs {
    margin-bottom: 3rem; }
  .u-mt-4--xs,
  .u-my-4--xs {
    margin-top: 3rem; }
  .u-ml-4--xs,
  .u-mx-4--xs {
    margin-left: 3rem; }
  .u-mr-4--xs,
  .u-mx-4--xs {
    margin-right: 3rem; }
  .u-m-5--xs {
    margin: 4rem; }
  .u-mb-5--xs,
  .u-my-5--xs {
    margin-bottom: 4rem; }
  .u-mt-5--xs,
  .u-my-5--xs {
    margin-top: 4rem; }
  .u-ml-5--xs,
  .u-mx-5--xs {
    margin-left: 4rem; }
  .u-mr-5--xs,
  .u-mx-5--xs {
    margin-right: 4rem; }
  .u-m-6--xs {
    margin: 6rem; }
  .u-mb-6--xs,
  .u-my-6--xs {
    margin-bottom: 6rem; }
  .u-mt-6--xs,
  .u-my-6--xs {
    margin-top: 6rem; }
  .u-ml-6--xs,
  .u-mx-6--xs {
    margin-left: 6rem; }
  .u-mr-6--xs,
  .u-mx-6--xs {
    margin-right: 6rem; }
  .u-p-0--xs {
    padding: 0; }
  .u-pb-0--xs,
  .u-py-0--xs {
    padding-bottom: 0; }
  .u-pt-0--xs,
  .u-py-0--xs {
    padding-top: 0; }
  .u-pl-0--xs,
  .u-px-0--xs {
    padding-left: 0; }
  .u-pr-0--xs,
  .u-px-0--xs {
    padding-right: 0; }
  .u-p-1--xs {
    padding: 0.5rem; }
  .u-pb-1--xs,
  .u-py-1--xs {
    padding-bottom: 0.5rem; }
  .u-pt-1--xs,
  .u-py-1--xs {
    padding-top: 0.5rem; }
  .u-pl-1--xs,
  .u-px-1--xs {
    padding-left: 0.5rem; }
  .u-pr-1--xs,
  .u-px-1--xs {
    padding-right: 0.5rem; }
  .u-p-2--xs {
    padding: 1rem; }
  .u-pb-2--xs,
  .u-py-2--xs {
    padding-bottom: 1rem; }
  .u-pt-2--xs,
  .u-py-2--xs {
    padding-top: 1rem; }
  .u-pl-2--xs,
  .u-px-2--xs {
    padding-left: 1rem; }
  .u-pr-2--xs,
  .u-px-2--xs {
    padding-right: 1rem; }
  .u-p-3--xs {
    padding: 2rem; }
  .u-pb-3--xs,
  .u-py-3--xs {
    padding-bottom: 2rem; }
  .u-pt-3--xs,
  .u-py-3--xs {
    padding-top: 2rem; }
  .u-pl-3--xs,
  .u-px-3--xs {
    padding-left: 2rem; }
  .u-pr-3--xs,
  .u-px-3--xs {
    padding-right: 2rem; }
  .u-p-4--xs {
    padding: 3rem; }
  .u-pb-4--xs,
  .u-py-4--xs {
    padding-bottom: 3rem; }
  .u-pt-4--xs,
  .u-py-4--xs {
    padding-top: 3rem; }
  .u-pl-4--xs,
  .u-px-4--xs {
    padding-left: 3rem; }
  .u-pr-4--xs,
  .u-px-4--xs {
    padding-right: 3rem; }
  .u-p-5--xs {
    padding: 4rem; }
  .u-pb-5--xs,
  .u-py-5--xs {
    padding-bottom: 4rem; }
  .u-pt-5--xs,
  .u-py-5--xs {
    padding-top: 4rem; }
  .u-pl-5--xs,
  .u-px-5--xs {
    padding-left: 4rem; }
  .u-pr-5--xs,
  .u-px-5--xs {
    padding-right: 4rem; }
  .u-p-6--xs {
    padding: 6rem; }
  .u-pb-6--xs,
  .u-py-6--xs {
    padding-bottom: 6rem; }
  .u-pt-6--xs,
  .u-py-6--xs {
    padding-top: 6rem; }
  .u-pl-6--xs,
  .u-px-6--xs {
    padding-left: 6rem; }
  .u-pr-6--xs,
  .u-px-6--xs {
    padding-right: 6rem; } }

@media (max-width: 51.375em) {
  .u-m-0--sm {
    margin: 0; }
  .u-mb-0--sm,
  .u-my-0--sm {
    margin-bottom: 0; }
  .u-mt-0--sm,
  .u-my-0--sm {
    margin-top: 0; }
  .u-ml-0--sm,
  .u-mx-0--sm {
    margin-left: 0; }
  .u-mr-0--sm,
  .u-mx-0--sm {
    margin-right: 0; }
  .u-m-1--sm {
    margin: 0.5rem; }
  .u-mb-1--sm,
  .u-my-1--sm {
    margin-bottom: 0.5rem; }
  .u-mt-1--sm,
  .u-my-1--sm {
    margin-top: 0.5rem; }
  .u-ml-1--sm,
  .u-mx-1--sm {
    margin-left: 0.5rem; }
  .u-mr-1--sm,
  .u-mx-1--sm {
    margin-right: 0.5rem; }
  .u-m-2--sm {
    margin: 1rem; }
  .u-mb-2--sm,
  .u-my-2--sm {
    margin-bottom: 1rem; }
  .u-mt-2--sm,
  .u-my-2--sm {
    margin-top: 1rem; }
  .u-ml-2--sm,
  .u-mx-2--sm {
    margin-left: 1rem; }
  .u-mr-2--sm,
  .u-mx-2--sm {
    margin-right: 1rem; }
  .u-m-3--sm {
    margin: 2rem; }
  .u-mb-3--sm,
  .u-my-3--sm {
    margin-bottom: 2rem; }
  .u-mt-3--sm,
  .u-my-3--sm {
    margin-top: 2rem; }
  .u-ml-3--sm,
  .u-mx-3--sm {
    margin-left: 2rem; }
  .u-mr-3--sm,
  .u-mx-3--sm {
    margin-right: 2rem; }
  .u-m-4--sm {
    margin: 3rem; }
  .u-mb-4--sm,
  .u-my-4--sm {
    margin-bottom: 3rem; }
  .u-mt-4--sm,
  .u-my-4--sm {
    margin-top: 3rem; }
  .u-ml-4--sm,
  .u-mx-4--sm {
    margin-left: 3rem; }
  .u-mr-4--sm,
  .u-mx-4--sm {
    margin-right: 3rem; }
  .u-m-5--sm {
    margin: 4rem; }
  .u-mb-5--sm,
  .u-my-5--sm {
    margin-bottom: 4rem; }
  .u-mt-5--sm,
  .u-my-5--sm {
    margin-top: 4rem; }
  .u-ml-5--sm,
  .u-mx-5--sm {
    margin-left: 4rem; }
  .u-mr-5--sm,
  .u-mx-5--sm {
    margin-right: 4rem; }
  .u-m-6--sm {
    margin: 6rem; }
  .u-mb-6--sm,
  .u-my-6--sm {
    margin-bottom: 6rem; }
  .u-mt-6--sm,
  .u-my-6--sm {
    margin-top: 6rem; }
  .u-ml-6--sm,
  .u-mx-6--sm {
    margin-left: 6rem; }
  .u-mr-6--sm,
  .u-mx-6--sm {
    margin-right: 6rem; }
  .u-p-0--sm {
    padding: 0; }
  .u-pb-0--sm,
  .u-py-0--sm {
    padding-bottom: 0; }
  .u-pt-0--sm,
  .u-py-0--sm {
    padding-top: 0; }
  .u-pl-0--sm,
  .u-px-0--sm {
    padding-left: 0; }
  .u-pr-0--sm,
  .u-px-0--sm {
    padding-right: 0; }
  .u-p-1--sm {
    padding: 0.5rem; }
  .u-pb-1--sm,
  .u-py-1--sm {
    padding-bottom: 0.5rem; }
  .u-pt-1--sm,
  .u-py-1--sm {
    padding-top: 0.5rem; }
  .u-pl-1--sm,
  .u-px-1--sm {
    padding-left: 0.5rem; }
  .u-pr-1--sm,
  .u-px-1--sm {
    padding-right: 0.5rem; }
  .u-p-2--sm {
    padding: 1rem; }
  .u-pb-2--sm,
  .u-py-2--sm {
    padding-bottom: 1rem; }
  .u-pt-2--sm,
  .u-py-2--sm {
    padding-top: 1rem; }
  .u-pl-2--sm,
  .u-px-2--sm {
    padding-left: 1rem; }
  .u-pr-2--sm,
  .u-px-2--sm {
    padding-right: 1rem; }
  .u-p-3--sm {
    padding: 2rem; }
  .u-pb-3--sm,
  .u-py-3--sm {
    padding-bottom: 2rem; }
  .u-pt-3--sm,
  .u-py-3--sm {
    padding-top: 2rem; }
  .u-pl-3--sm,
  .u-px-3--sm {
    padding-left: 2rem; }
  .u-pr-3--sm,
  .u-px-3--sm {
    padding-right: 2rem; }
  .u-p-4--sm {
    padding: 3rem; }
  .u-pb-4--sm,
  .u-py-4--sm {
    padding-bottom: 3rem; }
  .u-pt-4--sm,
  .u-py-4--sm {
    padding-top: 3rem; }
  .u-pl-4--sm,
  .u-px-4--sm {
    padding-left: 3rem; }
  .u-pr-4--sm,
  .u-px-4--sm {
    padding-right: 3rem; }
  .u-p-5--sm {
    padding: 4rem; }
  .u-pb-5--sm,
  .u-py-5--sm {
    padding-bottom: 4rem; }
  .u-pt-5--sm,
  .u-py-5--sm {
    padding-top: 4rem; }
  .u-pl-5--sm,
  .u-px-5--sm {
    padding-left: 4rem; }
  .u-pr-5--sm,
  .u-px-5--sm {
    padding-right: 4rem; }
  .u-p-6--sm {
    padding: 6rem; }
  .u-pb-6--sm,
  .u-py-6--sm {
    padding-bottom: 6rem; }
  .u-pt-6--sm,
  .u-py-6--sm {
    padding-top: 6rem; }
  .u-pl-6--sm,
  .u-px-6--sm {
    padding-left: 6rem; }
  .u-pr-6--sm,
  .u-px-6--sm {
    padding-right: 6rem; } }

@media (max-width: 66.875em) {
  .u-m-0--md {
    margin: 0; }
  .u-mb-0--md,
  .u-my-0--md {
    margin-bottom: 0; }
  .u-mt-0--md,
  .u-my-0--md {
    margin-top: 0; }
  .u-ml-0--md,
  .u-mx-0--md {
    margin-left: 0; }
  .u-mr-0--md,
  .u-mx-0--md {
    margin-right: 0; }
  .u-m-1--md {
    margin: 0.5rem; }
  .u-mb-1--md,
  .u-my-1--md {
    margin-bottom: 0.5rem; }
  .u-mt-1--md,
  .u-my-1--md {
    margin-top: 0.5rem; }
  .u-ml-1--md,
  .u-mx-1--md {
    margin-left: 0.5rem; }
  .u-mr-1--md,
  .u-mx-1--md {
    margin-right: 0.5rem; }
  .u-m-2--md {
    margin: 1rem; }
  .u-mb-2--md,
  .u-my-2--md {
    margin-bottom: 1rem; }
  .u-mt-2--md,
  .u-my-2--md {
    margin-top: 1rem; }
  .u-ml-2--md,
  .u-mx-2--md {
    margin-left: 1rem; }
  .u-mr-2--md,
  .u-mx-2--md {
    margin-right: 1rem; }
  .u-m-3--md {
    margin: 2rem; }
  .u-mb-3--md,
  .u-my-3--md {
    margin-bottom: 2rem; }
  .u-mt-3--md,
  .u-my-3--md {
    margin-top: 2rem; }
  .u-ml-3--md,
  .u-mx-3--md {
    margin-left: 2rem; }
  .u-mr-3--md,
  .u-mx-3--md {
    margin-right: 2rem; }
  .u-m-4--md {
    margin: 3rem; }
  .u-mb-4--md,
  .u-my-4--md {
    margin-bottom: 3rem; }
  .u-mt-4--md,
  .u-my-4--md {
    margin-top: 3rem; }
  .u-ml-4--md,
  .u-mx-4--md {
    margin-left: 3rem; }
  .u-mr-4--md,
  .u-mx-4--md {
    margin-right: 3rem; }
  .u-m-5--md {
    margin: 4rem; }
  .u-mb-5--md,
  .u-my-5--md {
    margin-bottom: 4rem; }
  .u-mt-5--md,
  .u-my-5--md {
    margin-top: 4rem; }
  .u-ml-5--md,
  .u-mx-5--md {
    margin-left: 4rem; }
  .u-mr-5--md,
  .u-mx-5--md {
    margin-right: 4rem; }
  .u-m-6--md {
    margin: 6rem; }
  .u-mb-6--md,
  .u-my-6--md {
    margin-bottom: 6rem; }
  .u-mt-6--md,
  .u-my-6--md {
    margin-top: 6rem; }
  .u-ml-6--md,
  .u-mx-6--md {
    margin-left: 6rem; }
  .u-mr-6--md,
  .u-mx-6--md {
    margin-right: 6rem; }
  .u-p-0--md {
    padding: 0; }
  .u-pb-0--md,
  .u-py-0--md {
    padding-bottom: 0; }
  .u-pt-0--md,
  .u-py-0--md {
    padding-top: 0; }
  .u-pl-0--md,
  .u-px-0--md {
    padding-left: 0; }
  .u-pr-0--md,
  .u-px-0--md {
    padding-right: 0; }
  .u-p-1--md {
    padding: 0.5rem; }
  .u-pb-1--md,
  .u-py-1--md {
    padding-bottom: 0.5rem; }
  .u-pt-1--md,
  .u-py-1--md {
    padding-top: 0.5rem; }
  .u-pl-1--md,
  .u-px-1--md {
    padding-left: 0.5rem; }
  .u-pr-1--md,
  .u-px-1--md {
    padding-right: 0.5rem; }
  .u-p-2--md {
    padding: 1rem; }
  .u-pb-2--md,
  .u-py-2--md {
    padding-bottom: 1rem; }
  .u-pt-2--md,
  .u-py-2--md {
    padding-top: 1rem; }
  .u-pl-2--md,
  .u-px-2--md {
    padding-left: 1rem; }
  .u-pr-2--md,
  .u-px-2--md {
    padding-right: 1rem; }
  .u-p-3--md {
    padding: 2rem; }
  .u-pb-3--md,
  .u-py-3--md {
    padding-bottom: 2rem; }
  .u-pt-3--md,
  .u-py-3--md {
    padding-top: 2rem; }
  .u-pl-3--md,
  .u-px-3--md {
    padding-left: 2rem; }
  .u-pr-3--md,
  .u-px-3--md {
    padding-right: 2rem; }
  .u-p-4--md {
    padding: 3rem; }
  .u-pb-4--md,
  .u-py-4--md {
    padding-bottom: 3rem; }
  .u-pt-4--md,
  .u-py-4--md {
    padding-top: 3rem; }
  .u-pl-4--md,
  .u-px-4--md {
    padding-left: 3rem; }
  .u-pr-4--md,
  .u-px-4--md {
    padding-right: 3rem; }
  .u-p-5--md {
    padding: 4rem; }
  .u-pb-5--md,
  .u-py-5--md {
    padding-bottom: 4rem; }
  .u-pt-5--md,
  .u-py-5--md {
    padding-top: 4rem; }
  .u-pl-5--md,
  .u-px-5--md {
    padding-left: 4rem; }
  .u-pr-5--md,
  .u-px-5--md {
    padding-right: 4rem; }
  .u-p-6--md {
    padding: 6rem; }
  .u-pb-6--md,
  .u-py-6--md {
    padding-bottom: 6rem; }
  .u-pt-6--md,
  .u-py-6--md {
    padding-top: 6rem; }
  .u-pl-6--md,
  .u-px-6--md {
    padding-left: 6rem; }
  .u-pr-6--md,
  .u-px-6--md {
    padding-right: 6rem; } }

@media (max-width: 75em) {
  .u-m-0--lg {
    margin: 0; }
  .u-mb-0--lg,
  .u-my-0--lg {
    margin-bottom: 0; }
  .u-mt-0--lg,
  .u-my-0--lg {
    margin-top: 0; }
  .u-ml-0--lg,
  .u-mx-0--lg {
    margin-left: 0; }
  .u-mr-0--lg,
  .u-mx-0--lg {
    margin-right: 0; }
  .u-m-1--lg {
    margin: 0.5rem; }
  .u-mb-1--lg,
  .u-my-1--lg {
    margin-bottom: 0.5rem; }
  .u-mt-1--lg,
  .u-my-1--lg {
    margin-top: 0.5rem; }
  .u-ml-1--lg,
  .u-mx-1--lg {
    margin-left: 0.5rem; }
  .u-mr-1--lg,
  .u-mx-1--lg {
    margin-right: 0.5rem; }
  .u-m-2--lg {
    margin: 1rem; }
  .u-mb-2--lg,
  .u-my-2--lg {
    margin-bottom: 1rem; }
  .u-mt-2--lg,
  .u-my-2--lg {
    margin-top: 1rem; }
  .u-ml-2--lg,
  .u-mx-2--lg {
    margin-left: 1rem; }
  .u-mr-2--lg,
  .u-mx-2--lg {
    margin-right: 1rem; }
  .u-m-3--lg {
    margin: 2rem; }
  .u-mb-3--lg,
  .u-my-3--lg {
    margin-bottom: 2rem; }
  .u-mt-3--lg,
  .u-my-3--lg {
    margin-top: 2rem; }
  .u-ml-3--lg,
  .u-mx-3--lg {
    margin-left: 2rem; }
  .u-mr-3--lg,
  .u-mx-3--lg {
    margin-right: 2rem; }
  .u-m-4--lg {
    margin: 3rem; }
  .u-mb-4--lg,
  .u-my-4--lg {
    margin-bottom: 3rem; }
  .u-mt-4--lg,
  .u-my-4--lg {
    margin-top: 3rem; }
  .u-ml-4--lg,
  .u-mx-4--lg {
    margin-left: 3rem; }
  .u-mr-4--lg,
  .u-mx-4--lg {
    margin-right: 3rem; }
  .u-m-5--lg {
    margin: 4rem; }
  .u-mb-5--lg,
  .u-my-5--lg {
    margin-bottom: 4rem; }
  .u-mt-5--lg,
  .u-my-5--lg {
    margin-top: 4rem; }
  .u-ml-5--lg,
  .u-mx-5--lg {
    margin-left: 4rem; }
  .u-mr-5--lg,
  .u-mx-5--lg {
    margin-right: 4rem; }
  .u-m-6--lg {
    margin: 6rem; }
  .u-mb-6--lg,
  .u-my-6--lg {
    margin-bottom: 6rem; }
  .u-mt-6--lg,
  .u-my-6--lg {
    margin-top: 6rem; }
  .u-ml-6--lg,
  .u-mx-6--lg {
    margin-left: 6rem; }
  .u-mr-6--lg,
  .u-mx-6--lg {
    margin-right: 6rem; }
  .u-p-0--lg {
    padding: 0; }
  .u-pb-0--lg,
  .u-py-0--lg {
    padding-bottom: 0; }
  .u-pt-0--lg,
  .u-py-0--lg {
    padding-top: 0; }
  .u-pl-0--lg,
  .u-px-0--lg {
    padding-left: 0; }
  .u-pr-0--lg,
  .u-px-0--lg {
    padding-right: 0; }
  .u-p-1--lg {
    padding: 0.5rem; }
  .u-pb-1--lg,
  .u-py-1--lg {
    padding-bottom: 0.5rem; }
  .u-pt-1--lg,
  .u-py-1--lg {
    padding-top: 0.5rem; }
  .u-pl-1--lg,
  .u-px-1--lg {
    padding-left: 0.5rem; }
  .u-pr-1--lg,
  .u-px-1--lg {
    padding-right: 0.5rem; }
  .u-p-2--lg {
    padding: 1rem; }
  .u-pb-2--lg,
  .u-py-2--lg {
    padding-bottom: 1rem; }
  .u-pt-2--lg,
  .u-py-2--lg {
    padding-top: 1rem; }
  .u-pl-2--lg,
  .u-px-2--lg {
    padding-left: 1rem; }
  .u-pr-2--lg,
  .u-px-2--lg {
    padding-right: 1rem; }
  .u-p-3--lg {
    padding: 2rem; }
  .u-pb-3--lg,
  .u-py-3--lg {
    padding-bottom: 2rem; }
  .u-pt-3--lg,
  .u-py-3--lg {
    padding-top: 2rem; }
  .u-pl-3--lg,
  .u-px-3--lg {
    padding-left: 2rem; }
  .u-pr-3--lg,
  .u-px-3--lg {
    padding-right: 2rem; }
  .u-p-4--lg {
    padding: 3rem; }
  .u-pb-4--lg,
  .u-py-4--lg {
    padding-bottom: 3rem; }
  .u-pt-4--lg,
  .u-py-4--lg {
    padding-top: 3rem; }
  .u-pl-4--lg,
  .u-px-4--lg {
    padding-left: 3rem; }
  .u-pr-4--lg,
  .u-px-4--lg {
    padding-right: 3rem; }
  .u-p-5--lg {
    padding: 4rem; }
  .u-pb-5--lg,
  .u-py-5--lg {
    padding-bottom: 4rem; }
  .u-pt-5--lg,
  .u-py-5--lg {
    padding-top: 4rem; }
  .u-pl-5--lg,
  .u-px-5--lg {
    padding-left: 4rem; }
  .u-pr-5--lg,
  .u-px-5--lg {
    padding-right: 4rem; }
  .u-p-6--lg {
    padding: 6rem; }
  .u-pb-6--lg,
  .u-py-6--lg {
    padding-bottom: 6rem; }
  .u-pt-6--lg,
  .u-py-6--lg {
    padding-top: 6rem; }
  .u-pl-6--lg,
  .u-px-6--lg {
    padding-left: 6rem; }
  .u-pr-6--lg,
  .u-px-6--lg {
    padding-right: 6rem; } }

@media (min-width: 75em) {
  .u-m-0--xl {
    margin: 0; }
  .u-mb-0--xl,
  .u-my-0--xl {
    margin-bottom: 0; }
  .u-mt-0--xl,
  .u-my-0--xl {
    margin-top: 0; }
  .u-ml-0--xl,
  .u-mx-0--xl {
    margin-left: 0; }
  .u-mr-0--xl,
  .u-mx-0--xl {
    margin-right: 0; }
  .u-m-1--xl {
    margin: 0.5rem; }
  .u-mb-1--xl,
  .u-my-1--xl {
    margin-bottom: 0.5rem; }
  .u-mt-1--xl,
  .u-my-1--xl {
    margin-top: 0.5rem; }
  .u-ml-1--xl,
  .u-mx-1--xl {
    margin-left: 0.5rem; }
  .u-mr-1--xl,
  .u-mx-1--xl {
    margin-right: 0.5rem; }
  .u-m-2--xl {
    margin: 1rem; }
  .u-mb-2--xl,
  .u-my-2--xl {
    margin-bottom: 1rem; }
  .u-mt-2--xl,
  .u-my-2--xl {
    margin-top: 1rem; }
  .u-ml-2--xl,
  .u-mx-2--xl {
    margin-left: 1rem; }
  .u-mr-2--xl,
  .u-mx-2--xl {
    margin-right: 1rem; }
  .u-m-3--xl {
    margin: 2rem; }
  .u-mb-3--xl,
  .u-my-3--xl {
    margin-bottom: 2rem; }
  .u-mt-3--xl,
  .u-my-3--xl {
    margin-top: 2rem; }
  .u-ml-3--xl,
  .u-mx-3--xl {
    margin-left: 2rem; }
  .u-mr-3--xl,
  .u-mx-3--xl {
    margin-right: 2rem; }
  .u-m-4--xl {
    margin: 3rem; }
  .u-mb-4--xl,
  .u-my-4--xl {
    margin-bottom: 3rem; }
  .u-mt-4--xl,
  .u-my-4--xl {
    margin-top: 3rem; }
  .u-ml-4--xl,
  .u-mx-4--xl {
    margin-left: 3rem; }
  .u-mr-4--xl,
  .u-mx-4--xl {
    margin-right: 3rem; }
  .u-m-5--xl {
    margin: 4rem; }
  .u-mb-5--xl,
  .u-my-5--xl {
    margin-bottom: 4rem; }
  .u-mt-5--xl,
  .u-my-5--xl {
    margin-top: 4rem; }
  .u-ml-5--xl,
  .u-mx-5--xl {
    margin-left: 4rem; }
  .u-mr-5--xl,
  .u-mx-5--xl {
    margin-right: 4rem; }
  .u-m-6--xl {
    margin: 6rem; }
  .u-mb-6--xl,
  .u-my-6--xl {
    margin-bottom: 6rem; }
  .u-mt-6--xl,
  .u-my-6--xl {
    margin-top: 6rem; }
  .u-ml-6--xl,
  .u-mx-6--xl {
    margin-left: 6rem; }
  .u-mr-6--xl,
  .u-mx-6--xl {
    margin-right: 6rem; }
  .u-p-0--xl {
    padding: 0; }
  .u-pb-0--xl,
  .u-py-0--xl {
    padding-bottom: 0; }
  .u-pt-0--xl,
  .u-py-0--xl {
    padding-top: 0; }
  .u-pl-0--xl,
  .u-px-0--xl {
    padding-left: 0; }
  .u-pr-0--xl,
  .u-px-0--xl {
    padding-right: 0; }
  .u-p-1--xl {
    padding: 0.5rem; }
  .u-pb-1--xl,
  .u-py-1--xl {
    padding-bottom: 0.5rem; }
  .u-pt-1--xl,
  .u-py-1--xl {
    padding-top: 0.5rem; }
  .u-pl-1--xl,
  .u-px-1--xl {
    padding-left: 0.5rem; }
  .u-pr-1--xl,
  .u-px-1--xl {
    padding-right: 0.5rem; }
  .u-p-2--xl {
    padding: 1rem; }
  .u-pb-2--xl,
  .u-py-2--xl {
    padding-bottom: 1rem; }
  .u-pt-2--xl,
  .u-py-2--xl {
    padding-top: 1rem; }
  .u-pl-2--xl,
  .u-px-2--xl {
    padding-left: 1rem; }
  .u-pr-2--xl,
  .u-px-2--xl {
    padding-right: 1rem; }
  .u-p-3--xl {
    padding: 2rem; }
  .u-pb-3--xl,
  .u-py-3--xl {
    padding-bottom: 2rem; }
  .u-pt-3--xl,
  .u-py-3--xl {
    padding-top: 2rem; }
  .u-pl-3--xl,
  .u-px-3--xl {
    padding-left: 2rem; }
  .u-pr-3--xl,
  .u-px-3--xl {
    padding-right: 2rem; }
  .u-p-4--xl {
    padding: 3rem; }
  .u-pb-4--xl,
  .u-py-4--xl {
    padding-bottom: 3rem; }
  .u-pt-4--xl,
  .u-py-4--xl {
    padding-top: 3rem; }
  .u-pl-4--xl,
  .u-px-4--xl {
    padding-left: 3rem; }
  .u-pr-4--xl,
  .u-px-4--xl {
    padding-right: 3rem; }
  .u-p-5--xl {
    padding: 4rem; }
  .u-pb-5--xl,
  .u-py-5--xl {
    padding-bottom: 4rem; }
  .u-pt-5--xl,
  .u-py-5--xl {
    padding-top: 4rem; }
  .u-pl-5--xl,
  .u-px-5--xl {
    padding-left: 4rem; }
  .u-pr-5--xl,
  .u-px-5--xl {
    padding-right: 4rem; }
  .u-p-6--xl {
    padding: 6rem; }
  .u-pb-6--xl,
  .u-py-6--xl {
    padding-bottom: 6rem; }
  .u-pt-6--xl,
  .u-py-6--xl {
    padding-top: 6rem; }
  .u-pl-6--xl,
  .u-px-6--xl {
    padding-left: 6rem; }
  .u-pr-6--xl,
  .u-px-6--xl {
    padding-right: 6rem; } }

.u-m-auto {
  margin: auto; }

.u-mt-auto {
  margin-top: auto; }

.u-mb-auto {
  margin-bottom: auto; }

.u-ml-auto {
  margin-left: auto; }

.u-mr-auto {
  margin-right: auto; }

.u-mx-auto {
  margin-left: auto;
  margin-right: auto; }

.u-my-auto {
  margin-top: auto;
  margin-bottom: auto; }

.u-box-1 {
  width: 3rem;
  height: 3rem;
  overflow: hidden; }

.u-box-2 {
  width: 4.5rem;
  height: 4.5rem;
  overflow: hidden; }

.u-rounded {
  border-radius: 100%; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Customize Html Base Setting */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a:link, a:visited {
  text-decoration: none; }

@media (max-width: 37.5em) {
  html {
    font-size: 85%; } }

body {
  box-sizing: border-box;
  position: relative;
  background-color: whitesmoke;
  font-family: "Montserrat", Helvetica, sans-serif;
  overflow-x: hidden; }

a:hover {
  text-decoration: none; }

.container {
  display: flex; }
  .container[direction="row"] {
    flex-direction: row; }
  .container[direction="column"] {
    flex-direction: column; }
  .container[justify="flex-end"] {
    justify-content: flex-end; }
  .container[justify="center"] {
    justify-content: center; }
  .container[justify="flex-start"] {
    justify-content: flex-start; }
  .container[justify="space-between"] {
    justify-content: space-between; }
  .container[justify="space-around"] {
    justify-content: space-around; }
  .container[align-items="flex-start"] {
    align-items: flex-start; }
  .container[align-items="flex-end"] {
    align-items: flex-end; }
  .container[align-items="center"] {
    align-items: center; }
  .container[align-items="stretch"] {
    align-items: stretch; }
  .container[align-items="baseline"] {
    align-items: baseline; }
  .container[align-content="stretch"] {
    align-content: stretch; }
  .container[align-content="flex-start"] {
    align-content: flex-start; }
  .container[align-content="flex-end"] {
    align-content: flex-end; }
  .container[align-content="space-between"] {
    align-content: space-between; }
  .container[align-content="space-around"] {
    align-content: space-around; }
  .container[align-content="center"] {
    align-content: center; }

.item[static="break-word"] {
  min-width: 0;
  word-wrap: break-word; }

.b-title--xs {
  font-size: 0.8rem;
  font-weight: 700; }

.b-title--sm {
  font-size: 1rem;
  font-weight: 700; }

.b-title--md {
  font-size: 1.3rem;
  font-weight: 700; }

.b-title--lg {
  font-size: 2.6rem;
  font-weight: 700; }
  @media (max-width: 37.5em) {
    .b-title--lg {
      font-size: 2rem; } }

.b-title--xl {
  font-size: 3.1rem;
  font-weight: 600; }

.b-title--green {
  font-weight: 700; }
  .b-title--green span {
    color: var(--color-primary); }

.b-paragraph {
  line-height: 1.5;
  font-size: 0.9rem; }

@keyframes zoomInRightBottom {
  0% {
    opacity: 0.8;
    transform: translateX(100%) rotateY(65deg) scale(0.8); } }

@keyframes zoomOutLeftBottom {
  100% {
    opacity: 0.3;
    transform: translateX(-100%) rotateY(-65deg) scale(0.8); } }

.b-background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .b-background-img img {
    width: 100%; }

.b-navbar {
  width: 100%;
  max-width: 64rem;
  height: 3rem; }
  @media (max-width: 66.875em) {
    .b-navbar {
      width: 100%;
      max-width: 100%;
      height: 4rem;
      background-color: var(--color-primary); } }
  .b-navbar__brand:link, .b-navbar__brand:visited {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--color-typo-grey-dark); }
    @media (max-width: 66.875em) {
      .b-navbar__brand:link, .b-navbar__brand:visited {
        color: white; } }
  .b-navbar__brand:hover, .b-navbar__brand:active {
    cursor: pointer; }
  .b-navbar__brand span {
    color: var(--color-primary); }
    @media (max-width: 66.875em) {
      .b-navbar__brand span {
        color: white; } }
  .b-navbar__mobile-checkbox {
    display: none; }
  .b-navbar__mobile-label {
    display: none; }
    .b-navbar__mobile-label:hover {
      cursor: pointer; }
    @media (max-width: 66.875em) {
      .b-navbar__mobile-label {
        display: block; } }
  .b-navbar__mobile-svgicon {
    fill: white;
    height: 1.5rem;
    width: 1.5rem; }
  .b-navbar__list {
    display: flex; }
    @media (max-width: 66.875em) {
      .b-navbar__list {
        position: fixed;
        right: 0;
        top: 3rem;
        z-index: 100;
        background-color: var(--color-primary);
        height: 100%;
        width: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        transform-origin: right; } }
  .b-navbar__link:link, .b-navbar__link:visited {
    display: block;
    text-align: center;
    color: var(--color-typo-grey-light);
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 0.9rem;
    position: relative; }
    @media (max-width: 66.875em) {
      .b-navbar__link:link, .b-navbar__link:visited {
        color: white; } }
  .b-navbar__link:hover, .b-navbar__link:active {
    color: var(--color-typo-grey-dark); }
    @media (max-width: 66.875em) {
      .b-navbar__link:hover, .b-navbar__link:active {
        color: white; } }
  .b-navbar__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    background-color: var(--color-primary);
    transition: transform 0.2s;
    transform-origin: center; }
    @media (max-width: 66.875em) {
      .b-navbar__link::after {
        background-color: white; } }
  .b-navbar__link:hover::after {
    transform: scaleX(0.3); }
    @media (max-width: 66.875em) {
      .b-navbar__link:hover::after {
        transform: scaleX(0.1); } }
  .b-navbar__link--active:link, .b-navbar__link--active:visited {
    color: var(--color-typo-grey-dark); }
    @media (max-width: 66.875em) {
      .b-navbar__link--active:link, .b-navbar__link--active:visited {
        color: white; } }
  .b-navbar__link--active::after {
    transform: scaleX(0.3); }
    @media (max-width: 66.875em) {
      .b-navbar__link--active::after {
        transform: scaleX(0.1); } }
  .b-navbar__mobile-checkbox:checked ~ .b-navbar__list {
    width: 20rem;
    visibility: visible;
    opacity: 1; }

.b-img {
  overflow: hidden;
  width: 100%;
  height: 100%; }
  .b-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .b-img--white-border {
    border: 3px solid white;
    box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    transform: translateY(0); }
    .b-img--white-border:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 15px 1.5rem rgba(0, 0, 0, 0.2); }

.b-img--fit {
  width: 100%;
  height: 100%;
  object-fit: cover; }

@media (max-width: 51.375em) {
  .b-info-list {
    margin-top: 1rem; } }

.b-info-list__item {
  line-height: 2;
  font-size: 0.9rem;
  display: flex; }

.b-info-list__item-title {
  font-weight: 500;
  flex: 0 1 30%; }

.b-info-list__item-content {
  flex: 1;
  color: var(--color-typo-grey-light); }

.b-link:link, .b-link:visited {
  color: var(--color-primary);
  transition: all 0.2s; }

.b-link:hover, .b-link:active {
  color: #25a065; }

.b-form__group {
  display: flex;
  position: relative; }
  .b-form__group:not(:last-child) {
    margin-bottom: 2rem; }

.b-form__icon-wrap {
  width: 2.8rem;
  height: 2.5rem;
  text-align: center;
  background-color: var(--color-background-grey);
  padding-top: 0.7rem;
  position: relative;
  z-index: 35; }
  .b-form__icon-wrap--textarea {
    height: auto; }

.b-form__icon {
  width: 1.1rem;
  height: 1.1rem;
  fill: var(--color-typo-grey-light-2);
  transition: all 0.3s; }

.b-form__label {
  font-size: 0.9rem;
  position: absolute;
  z-index: 42;
  color: var(--color-typo-grey-light);
  font-weight: 300;
  top: 0.8rem;
  left: 3.2rem;
  transition: all 0.3s; }

.b-form__label--focus {
  font-size: 0.8rem;
  top: -0.8rem; }

.b-form__input, .b-form__textarea {
  padding-left: 0.8rem;
  font-size: 0.9rem;
  position: relative;
  border: none;
  width: 100%;
  z-index: 41;
  left: 0;
  background-color: transparent;
  line-height: 1.4; }
  .b-form__input:focus, .b-form__textarea:focus {
    outline: none; }

.b-form__textarea {
  padding-top: 0.6rem;
  resize: vertical; }

.b-form__input:focus ~ .b-form__input-border::after {
  transform: scaleX(1); }

.b-form__textarea:focus ~ .b-form__input-border::after {
  transform: scaleX(1); }

.b-form__input-border {
  box-sizing: content-box;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 42;
  border-bottom: 1px solid var(--color-line-grey); }
  .b-form__input-border::after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
    transform-origin: center;
    transform: scaleX(0);
    transition: all 0.3s; }

.b-form__button {
  border: none;
  padding: 0.8rem 1rem;
  height: 3rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  border-radius: 3px;
  background-color: var(--color-primary);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  cursor: pointer; }
  .b-form__button:hover {
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px); }
  .b-form__button:focus {
    outline: none;
    border-bottom: 3px solid #25a065; }

.b-summary-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .b-summary-title__name {
    font-size: 3.1rem;
    font-weight: 700;
    margin: 1.3rem 0; }
    @media (max-width: 51.375em) {
      .b-summary-title__name {
        font-size: 2.5rem; } }
  .b-summary-title__job {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.3rem; }
    @media (max-width: 51.375em) {
      .b-summary-title__job {
        font-size: 1.2rem; } }
  .b-summary-title__social-link-list {
    display: flex; }
  .b-summary-title__social-link-item {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s; }
    .b-summary-title__social-link-item:hover {
      transform: translateY(-3px);
      box-shadow: 0 3px 0.5rem rgba(0, 0, 0, 0.1); }
    .b-summary-title__social-link-item:not(:last-child) {
      margin-right: 0.5rem; }
  .b-summary-title__icon {
    height: 1rem;
    width: 1rem;
    fill: var(--color-typo-grey-light); }

.b-page-title {
  color: white;
  text-align: center;
  padding: 2.8rem 0;
  background-color: var(--color-primary);
  background-image: url(../img/portfolio/sp_main_bg.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 70% center; }
  @media (max-width: 37.5em) {
    .b-page-title {
      padding: 2rem; } }

.b-timeline__list {
  padding: 1rem 0;
  border-left: 2px solid var(--color-line-grey);
  position: relative; }

.b-timeline__item {
  position: relative;
  margin-left: 1.2rem; }
  .b-timeline__item:not(:last-child) {
    margin-bottom: 1.5rem; }

.b-timeline__dot {
  position: absolute;
  left: -1.65rem;
  top: 1.3rem;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  z-index: 21; }

.b-timeline__content-box {
  padding: 1rem 1.3rem;
  border-left: 2px solid var(--color-primary);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
  transition: all 0.1s; }
  .b-timeline__content-box::after {
    content: "";
    position: absolute;
    width: 1.3rem;
    background-color: var(--color-primary);
    height: 2px;
    top: 1.6rem;
    left: -1.2rem;
    z-index: 20; }
  .b-timeline__content-box:hover {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25); }

.b-timeline__title {
  margin-bottom: 0.8rem; }

.b-timeline__timeinfo {
  font-size: 0.8rem;
  display: flex;
  margin-bottom: 0.6rem; }

.b-timeline__time {
  color: var(--color-primary);
  border-right: 1px solid var(--color-line-grey);
  padding-right: 0.6rem; }

.b-timeline__company {
  padding: 0 0.6rem;
  color: var(--color-typo-grey-light); }

.b-timeline__description {
  font-size: 0.85rem;
  line-height: 1.4; }

.b-skill__item:not(:last-child) {
  margin-bottom: 1rem; }

.b-skill__title {
  margin-bottom: 0.5rem; }

.b-skill__bar {
  height: 100%;
  width: 100%;
  font-size: 0.7rem;
  border: 1px solid var(--color-line-grey);
  background-color: var(--color-background-grey);
  position: relative; }
  .b-skill__bar::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 80%;
    background-color: var(--color-primary);
    animation: 1.5s slideFromLeft 1.2s both; }

@keyframes slideFromLeft {
  0% {
    width: 0; }
  100% {
    width: 80%; } }

.b-service {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  @media (max-width: 51.375em) {
    .b-service {
      margin: 1rem 0; } }
  .b-service__icon-wrap {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: var(--color-background-grey);
    text-align: center;
    display: flex;
    transition: all 0.3s;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.8rem;
    margin-top: 1rem; }
    .b-service__icon-wrap:hover {
      transform: translateY(-5px);
      box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.15); }
  .b-service__title {
    margin-bottom: 1.2rem; }
  .b-service__description {
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.4; }

.b-logo--square {
  margin: 1.4rem auto;
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--color-typo-grey-light);
  color: white;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg); }
  @media (max-width: 51.375em) {
    .b-logo--square {
      margin: 2.5rem auto; } }
  .b-logo--square span {
    transform: rotate(-45deg);
    font-size: 0.9rem; }
  .b-logo--square:hover {
    background-color: var(--color-typo-grey);
    cursor: pointer; }

.b-card {
  flex: 0 1 47%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0.8rem 0;
  border-radius: 3px;
  overflow: hidden;
  height: 32vw;
  max-height: 20rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s; }
  @media (max-width: 37.5em) {
    .b-card {
      flex: 0 1 100%;
      height: 50vw;
      max-height: none; } }
  .b-card:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2); }
  .b-card__tag {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: white;
    color: var(--color-primary);
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    z-index: 31; }
  .b-card__day {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.2rem; }
    @media (max-width: 51.375em) {
      .b-card__day {
        font-size: 1.2rem; } }
  .b-card__month {
    font-size: 0.7rem;
    font-weight: 500; }
    @media (max-width: 51.375em) {
      .b-card__month {
        font-size: 0.6rem; } }
  .b-card__img-wrap {
    flex: 0 1 70%;
    overflow: hidden;
    width: 100%;
    position: relative;
    background-color: #f1f1f1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden; }
    .b-card__img-wrap img {
      position: relative;
      width: 100%;
      height: auto;
      object-fit: cover; }
    @media (max-width: 51.375em) {
      .b-card__img-wrap {
        flex: 0 1 65%; } }
  .b-card__mask {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center; }
    .b-card__mask:hover {
      background-color: rgba(39, 41, 44, 0.589);
      cursor: pointer; }
  .b-card__svgicon {
    fill: transparent;
    width: 2.8rem;
    height: 2.8rem;
    transition: all 0.2s; }
  .b-card__mask:hover .b-card__svgicon {
    fill: white; }
  .b-card__description-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem; }
  .b-card__type {
    margin: auto 0;
    margin-bottom: 0;
    font-size: 0.8rem;
    color: var(--color-typo-grey-light); }
    @media (max-width: 51.375em) {
      .b-card__type {
        font-size: 0.7rem; } }
    @media (max-width: 37.5em) {
      .b-card__type {
        font-size: 0.7rem; } }
  .b-card__title {
    margin: auto 0;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center; }
    @media (max-width: 51.375em) {
      .b-card__title {
        font-size: 0.8rem;
        line-height: 1.5; } }
    @media (max-width: 37.5em) {
      .b-card__title {
        font-size: 0.8rem;
        line-height: 1.5; } }
  .b-card__title-link:link, .b-card__title-link:visited {
    color: currentColor; }

.b-article__title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4; }
  @media (max-width: 66.875em) {
    .b-article__title {
      font-size: 1.8rem; } }
  @media (max-width: 51.375em) {
    .b-article__title {
      font-size: 1.5rem; } }

.b-article__info-list {
  color: var(--color-typo-grey-light);
  font-size: 0.9rem; }
  .b-article__info-list > :not(:last-child) {
    border-right: 1px solid var(--color-line-grey); }
  @media (max-width: 66.875em) {
    .b-article__info-list {
      font-size: .8rem; } }
  @media (max-width: 37.5em) {
    .b-article__info-list > li {
      padding: 0 .5rem; }
    .b-article__info-list > li:first-child {
      padding: 0;
      padding-right: .5rem; }
    .b-article__info-list > li:last-child {
      padding: 0;
      padding-left: .5rem; } }

.b-article__info-item {
  text-align: center;
  line-height: 1.2; }
  @media (max-width: 37.5em) {
    .b-article__info-item {
      display: flex;
      flex-direction: column; } }

.b-article__icon {
  height: .9rem;
  width: .9rem;
  fill: currentColor; }
  @media (max-width: 37.5em) {
    .b-article__icon {
      margin-bottom: .5rem; } }

.b-article__body {
  font-size: 0.9rem;
  line-height: 1.8; }

.b-article__body--quote {
  border-left: 3px solid var(--color-primary);
  padding: .3rem 1.5rem; }
  @media (max-width: 37.5em) {
    .b-article__body--quote {
      padding: .2rem .8rem;
      hyphens: auto; } }

.b-article__body--quote-author {
  color: var(--color-typo-grey-light);
  display: block;
  padding-top: .5rem; }

.b-article__bottom {
  background-color: var(--color-background-grey-light2);
  padding: .5rem;
  flex-wrap: wrap;
  align-content: space-between; }
  @media (max-width: 37.5em) {
    .b-article__bottom {
      flex-direction: column;
      background-color: transparent;
      padding: 0; } }

.b-article__tag-list {
  flex-wrap: wrap; }
  .b-article__tag-list > li:not(:last-child) {
    margin-right: .5rem; }

.b-article__tag {
  padding: 0.4rem;
  background-color: var(--color-background-grey-light);
  font-size: 0.8rem;
  text-transform: uppercase;
  border-radius: 3px; }
  @media (max-width: 37.5em) {
    .b-article__tag {
      margin-bottom: 1rem; } }
  .b-article__tag > a:link, .b-article__tag > a:visited {
    color: var(--color-typo-grey); }

.b-article__social-link-list > li:not(:last-child) {
  margin-right: .5rem; }

.b-article__social-link {
  width: 1.6rem;
  height: 1.6rem;
  background-color: white;
  border: 1px solid var(--color-line-grey); }
  .b-article__social-link > a:link, .b-article__social-link > a:visited {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  @media (max-width: 37.5em) {
    .b-article__social-link {
      height: 2rem;
      width: 2rem; } }

.b-article__social-link-icon {
  height: 60%;
  width: 60%;
  fill: var(--color-typo-grey-light-2); }

.b-comment__img-wrap {
  height: 3.5rem;
  width: 3.5rem;
  overflow: hidden;
  border-radius: 100%; }
  @media (max-width: 37.5em) {
    .b-comment__img-wrap {
      height: 2.5rem;
      width: 2.5rem; } }

.b-comment__info-list {
  font-size: .9rem;
  margin-bottom: .8rem; }
  @media (max-width: 37.5em) {
    .b-comment__info-list {
      font-size: .8rem; } }

.b-comment__name {
  font-weight: 600;
  color: var(--color-primary);
  border-right: 1px solid var(--color-line-grey);
  padding-right: .4rem; }
  .b-comment__name > a:link, .b-comment__name > a:visited {
    transition: all .3s; }
  .b-comment__name > a:hover, .b-comment__name > a:active {
    color: var(--color-primary-opposite); }

.b-comment__time {
  color: var(--color-typo-grey-light);
  padding-left: .4rem;
  font-size: 0.7rem; }

.b-comment__body {
  font-size: 0.9rem;
  line-height: 1.4;
  margin-bottom: .8rem; }

.b-comment__reply {
  border: none;
  background-color: transparent;
  color: var(--color-typo-grey-light-2);
  transition: all .3s; }
  .b-comment__reply:hover {
    color: var(--color-primary-opposite);
    outline: none;
    cursor: pointer; }
  .b-comment__reply span {
    font-size: .8rem; }

.b-comment__icon {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
  margin-right: .2rem; }

.b-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .b-container [class*="b-item"] {
    flex: 1; }
  .b-container .b-item-12 {
    flex: 0 1 100%; }
    .b-container .b-item-12:last-child {
      padding: 0; }
  .b-container .b-item-6 {
    flex: 0 1 calc((100% - 2rem) / 2); }
  .b-container .b-item-4 {
    flex: 0 1 calc((100% - 2 *2rem) / 3); }
  .b-container .b-item-3 {
    flex: 0 1 calc((100% - 3 *2rem) / 4); }
  .b-container .b-item-2 {
    flex: 0 1 calc((100% - 5 *2rem) / 6); }
  @media (max-width: 51.375em) {
    .b-container .b-item-12--md {
      padding: 0;
      flex: 0 1 100%; } }
  @media (max-width: 51.375em) {
    .b-container .b-item-6--md {
      flex: 0 1 calc((100% - 2rem) / 2); } }
  @media (max-width: 51.375em) {
    .b-container .b-item-4--md {
      flex: 0 1 calc((100% - 2 *2rem) / 3); } }
  @media (max-width: 51.375em) {
    .b-container .b-item-3--md {
      flex: 0 1 calc((100% - 3 *2rem) / 4); } }
  @media (max-width: 51.375em) {
    .b-container .b-item-2--md {
      flex: 0 1 calc((100% - 5 *2rem) / 6); } }
  @media (max-width: 37.5em) {
    .b-container .b-item-12--sm {
      padding: 0;
      flex: 0 1 100%; } }
  @media (max-width: 37.5em) {
    .b-container .b-item-6--sm {
      flex: 0 1 calc((100% - 4 *2rem) / 2); } }
  @media (max-width: 37.5em) {
    .b-container .b-item-4--sm {
      flex: 0 1 calc((100% - 4 *2rem) / 3); } }
  @media (max-width: 37.5em) {
    .b-container .b-item-3--sm {
      flex: 0 1 calc((100% - 4 *2rem) / 4); } }
  @media (max-width: 37.5em) {
    .b-container .b-item-2--sm {
      flex: 0 1 calc((100% - 5 *2rem) / 6); } }

.d-flex {
  display: flex; }
  .d-flex.column {
    flex-direction: column; }
  @media (max-width: 66.875em) {
    .d-flex.column-md {
      flex-direction: column; } }
  .d-flex.row {
    flex-direction: row; }
  .d-flex.justify-content-start {
    justify-content: flex-start; }
  .d-flex.justify-content-center {
    justify-content: center; }
  .d-flex.justify-content-end {
    justify-content: end; }
  .d-flex.align-items-center {
    align-items: center; }
  .d-flex.justify-content-space-between {
    justify-content: space-between; }

.b-header {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 10;
  height: 6rem;
  transition: all 0.3s;
  display: flex; }
  .b-header--white {
    height: 4.5rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); }
  @media (max-width: 66.875em) {
    .b-header {
      height: auto; } }

.b-page {
  position: relative; }

.b-main {
  position: relative;
  width: 100%;
  height: 100vh; }
  .b-main > section {
    position: absolute;
    width: 100%;
    padding-top: 6.5rem;
    perspective: 1800px; }
    @media (max-width: 66.875em) {
      .b-main > section {
        padding: 0 1rem; } }
  .b-main > section:target {
    z-index: 8; }

.b-content {
  display: none;
  margin: 0 auto;
  border-radius: 14px;
  background-color: white;
  overflow: hidden;
  width: 100%;
  max-width: 64rem;
  margin-bottom: 4rem;
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 5; }
  @media (max-width: 66.875em) {
    .b-content {
      margin-top: 5rem;
      margin-bottom: 3rem; } }

.b-current-content {
  display: block; }

.u-anim-out {
  display: block;
  opacity: 1;
  visibility: visible;
  animation: zoomOutLeftBottom 1s; }

.u-anim-in {
  display: block;
  opacity: 1;
  visibility: visible;
  animation: zoomInRightBottom 1s; }

.b-details-wrap {
  padding: 3rem; }
  @media (max-width: 37.5em) {
    .b-details-wrap {
      padding: 2rem; } }

.b-footer {
  position: fixed;
  width: 100vw;
  bottom: 1rem;
  z-index: -1; }
  .b-footer__copyright {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--color-typo-grey-light); }

.b-summary {
  padding: 3rem;
  background-color: var(--color-primary);
  background-image: url(../img/portfolio/sp_main_bg.png);
  background-size: cover;
  background-position: 80% 0; }
  .b-summary__img-box {
    position: relative;
    max-height: 18rem;
    height: 28vw;
    margin-bottom: -20%; }
    @media (max-width: 51.375em) {
      .b-summary__img-box {
        height: 15rem;
        width: 15rem;
        margin: 0 auto;
        max-height: none; } }
    @media (max-width: 37.5em) {
      .b-summary__img-box {
        height: 10rem;
        width: 10rem; } }
  .b-summary__title-box {
    color: white; }

.b-about-me {
  padding: 4rem 3rem 3rem 3rem; }
  @media (max-width: 51.375em) {
    .b-about-me {
      padding: 2.5rem; } }

.b-clients__list {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0; }

.b-clients__item {
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--color-typo-grey-light);
  color: white;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg); }
  .b-clients__item p {
    transform: rotate(-45deg);
    font-size: 0.9rem; }
  .b-clients__item:hover {
    background-color: var(--color-typo-grey);
    cursor: pointer; }

@media (max-width: 51.375em) {
  .b-clients {
    margin-top: 2rem; } }

.b-card-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around; }

.b-google-map {
  height: 10rem; }

.b-contact-info__info-item {
  display: flex;
  align-items: center; }
  .b-contact-info__info-item:not(:last-child) {
    margin-bottom: 1rem; }

.b-contact-info__icon-wrap {
  background-color: var(--color-background-grey);
  border-radius: 50%;
  margin-right: 1rem;
  height: 2.3rem;
  width: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.b-contact-info__icon {
  width: 1.1rem;
  height: 1.1rem;
  fill: var(--color-primary); }

.b-contact-info__detail {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600; }

.b-blog-content__img-wrap {
  max-height: 30rem;
  height: 46.875vw; }
  @media (max-width: 66.875em) {
    .b-blog-content__img-wrap {
      margin: -1.5rem; } }
  @media (max-width: 37.5em) {
    .b-blog-content__img-wrap {
      margin: -1rem; } }

.b-blog-content__body-wrap {
  margin-top: -3rem;
  background-color: white;
  position: relative;
  z-index: 20; }

.b-blog-content__comments-form {
  width: 75%; }
  @media (max-width: 37.5em) {
    .b-blog-content__comments-form {
      width: 100%; } }

.test-2 {
  display: flex;
  background-color: bisque; }
  .test-2__square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; }
  .test-2__square-2 {
    height: 2rem;
    width: 3rem;
    background-color: aquamarine; }

.tb-margin-auto {
  width: 20rem;
  height: 20rem;
  background-color: aquamarine;
  margin: 0 auto;
  display: flex;
  align-items: flex-start; }
  .tb-margin-auto__child {
    display: block;
    margin-right: auto;
    height: 3rem;
    width: 3rem;
    background-color: black;
    color: white; }
  .tb-margin-auto__child2 {
    background-color: darkgoldenrod;
    display: block;
    width: 20%;
    height: 3rem;
    margin: auto 0; }
  .tb-margin-auto img {
    width: 30%;
    height: auto;
    display: block; }

.tb-flex-box {
  width: 50rem;
  margin: 0 auto;
  width: 40rem;
  overflow: hidden; }
  .tb-flex-box__img-box {
    height: 10rem;
    overflow: hidden; }
  .tb-flex-box__img {
    height: 100%; }

.tb-container-negative-margin {
  padding: 1rem;
  background-color: black; }
  .tb-container-negative-margin__item1 {
    background-color: aquamarine; }
  .tb-container-negative-margin__item2 {
    background-color: yellow; }
  .tb-container-negative-margin__item3 {
    background-color: blueviolet; }

.no-gutter {
  display: flex;
  width: 100%; }

.perspective {
  display: flex;
  justify-content: center;
  perspective: 200px; }
  .perspective__square1 {
    height: 200px;
    width: 200px;
    color: white;
    background-color: black;
    display: inline-block;
    margin-top: 10rem;
    transition: all 5s; }

@keyframes perspective {
  0% {
    perspective: 100px; }
  100% {
    perspective: none; } }

@keyframes square {
  0% {
    transform: rotatey(-180deg); }
  100% { } }
