:root {
  // Main color
  --color-primary: #51cc87;
  --color-primary-opposite: #f19b1a;
  --color-background-grey: #f5f5f5;

  --color-typo-grey-dark: #212121;
  --color-typo-grey-light: #8f959b;
  --color-typo-grey-light-2: #a9b1b8;
  --color-typo-grey: #48515d;

  --color-line-grey: rgb(226, 226, 226);

  --color-background-grey-light: #efefef;
  --color-background-grey-light2: #f9f9f9;
}

// Computed color
$color-typo-grey-light: rgba(#48515d, 0.8);
$color-primary: #2eca7f;
// Selections
// #ffc5c5
// #fdb1b1
// #ffd10d
// #80e2ce
// #67dcc4
// #7fd8c6

// content max width
$max-width: 64rem;

//  grid system
$grid-gutter: 2rem;

// Spacing utilities
$spacing: 2rem;

// spacing map for padding & margin auto create
$spacingMap: (
  0: 0,
  1: ($spacing * 0.25),
  2: ($spacing * 0.5),
  3: ($spacing * 1),
  4: ($spacing * 1.5),
  5: ($spacing * 2),
  6: ($spacing * 3),
);


// box basic size

$box-basic: 3rem;
