@import "./components/flexBox/flexbox";

$tag-red: #d24a3f;
$light-grey: rgb(220, 220, 220);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  @media only screen and (max-width: 320px) {
    font-size: 7px;
  }
}
body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}
.card {
  width: 43rem;
  height: 30rem;
  position: relative;
  overflow: hidden;
  border-radius: 1.2rem;
  margin: 1rem;
  padding: 3rem;
  color: white;
  box-shadow: 0 0 1rem 0.1rem rgba(black, 0.32);
  transition: all 0.3s;
  flex-grow: 0;
  flex-shrink: 0;

  &:hover {
    transform: translateY(-1rem);
  }
  &__img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    & img {
      width: 100%;
      height: 100%;
    }
  }
  &__img-mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(black, 0) 0%,
      rgba(black, 0.4) 100%
    );
  }
  &__body {
    position: relative;
    width: 100%;
  }
  &__tag {
    display: inline-block;
    font-weight: 400;
    margin-bottom: 14rem;
    padding: 0.3rem 1.5rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    border-radius: 0.2rem;
    background-color: $tag-red;
  }
  &__details {
    flex: 0 0 70%;
    & h3 {
      font-size: 2.6rem;
      margin-bottom: 0.4rem;
    }
    & p {
      margin-bottom: 1.2rem;
      font-size: 1.4rem;
    }
    &__reviews {
      font-weight: 300;
      font-size: 1.2rem;
      color: $light-grey;
      & ul {
        text-decoration: none;
        margin: 0;
        display: inline;
        & li {
          display: inline;
          & i {
            color: #f0d856;
            margin-right: 0.3rem;
          }
          & span {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
  &__more {
    font-size: 2.8rem;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
