.b-page {
  position: relative;
}

.b-main {
  // navbar selection function
  // Set current # visible
  // otherwise push it from current document flow
  position: relative;
  width: 100%;
  height: 100vh;
  // Perspective effect: for page animation

  & > section {
    // Default value

    // Have to use absolute, when two div both animated on screen they are in row direction, use relative will cause they are in column direction
    position: absolute;
    // Give child element a full screen width
    width: 100%;

    // only can be point to the top of selection element
    padding-top: 6.5rem;
    perspective: 1800px;

    @include respond(tablet-lg) {
      padding: 0 1rem;
    }
  }

  & > section:target {
    z-index: 8;
  }
}

.b-content {
  display: none;

  margin: 0 auto;
  border-radius: 14px;
  background-color: white;
  overflow: hidden;

  width: 100%;
  max-width: $max-width;
  margin-bottom: 4rem;

  box-shadow: 0 0.8rem 1.5rem rgba(black, 0.15);
  position: relative;
  z-index: 5;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  transform: rotate(0);
  -webkit-transform: scale(1);


  @include respond(tablet-lg) {
    // not effect in position absolute will overflow
    // margin: 0 1rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
}

.b-current-content {
  display: block;
}

.u-anim-out {

  display: block;
  opacity: 1;
  visibility: visible;
  animation: zoomOutLeftBottom 1s both;

  @include respond(phone){
    animation: zoomOutLeftBottom-phone  1s both;
  }
}

.u-anim-in {
  display: block;
  opacity: 1;
  visibility: visible;
  animation: zoomInRightBottom 1s both;

  @include respond(phone) {
    animation: zoomInRightBottom-phone 1s both;
  }
}

.b-details-wrap {
  padding: 3rem ;
  @include respond(phone) {
    padding: 2rem;
  }

  
}
