.b-main {
  // navbar selection function
  // Set current # visible
  // otherwise push it from current document flow
  position: relative;

  & > section {
    visibility: hidden;
    opacity: 0;
    height: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
    transition: all 0.4s;
    overflow: hidden; // If not set to overflow hidden, then content will overflow and take space.
  }

  & > section:target {
    // position: relative; // Cannot set to relative, otherwise absolute will find it's sibling as target
    visibility: visible;
    opacity: 1;
    height: auto;
  }
}

.b-page {
  position: relative;
}

.b-content {
  max-width: $max-width;
  margin: 0 auto;
  margin-top: 6.5rem;
  margin-bottom: 4rem;

  border-radius: 14px;
  background-color: white;
  overflow: hidden;

  box-shadow: 0 0.8rem 1.5rem rgba(black, 0.15);
  position: relative;
  z-index: 5;

  @include respond(tab-port) {
    margin: 0 1rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
}

.b-details-wrap {
  padding: 2.5rem 3rem;
  @include respond(phone) {
    padding: 2rem;
  }
}
