.b-footer {
  position: fixed;
  // Same as header, ignore scrollbar width
  width: 100vw;
  bottom: 1rem;
  z-index: -1;

  &__copyright {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--color-typo-grey-light);
  }
}
