.b-logo {
  &--square {
    margin: 1.4rem auto;
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--color-typo-grey-light);
    color: white;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);

    @include respond(tab-port2) {
      margin: 2.5rem auto;
    }

    & span {
      transform: rotate(-45deg);
      font-size: 0.9rem;
    }

    &:hover {
      background-color: var(--color-typo-grey);
      cursor: pointer;
    }
  }
}
