.b-page-title {
  color: white;
  // position
  text-align: center;
  padding: 2.8rem 0;
  // backgournd
  background-color: var(--color-primary);
  background-image: url(../img/portfolio/sp_main_bg.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 70% center;

  @include respond(phone) {
    padding: 2rem;
  }
}
