@keyframes zoomInRightBottom {
  0% {
    // opacity: 0.8;
    transform: translateX(100%) rotateY(65deg) scale(0.8);
  }
}


@keyframes zoomOutLeftBottom {
  100% {
    // opacity: 0.3;
    transform: translateX(-100%) rotateY(-65deg) scale(0.8);
  }
}

// Rotate will cause flash on iphone
@keyframes zoomInRightBottom-phone {
  0% {
    // opacity: 0.8;
    transform: translate(100%,50%)  scale(0.8);
  }
}

@keyframes zoomOutLeftBottom-phone {
  100% {
    // opacity: 0.3;
    transform: translate(-100%,10%) scale(0.8);
  }
}

// Orbit
@keyframes orbit {
  from { transform: rotate(-45deg) translateX(2.5rem) rotate(45deg); }
  to   { transform: rotate(315deg) translateX(2.5rem) rotate(-315deg); }
}
