// Homepage Layout & unique setting

.b-summary {
  //   Position children
  padding: 3rem;

  //   Background
  background-color: var(--color-primary);
  background-image: url(../img/portfolio/sp_main_bg.png);
  background-size: cover;
  background-position: 80% 0;

  // img-box position
  &__img-box {
    position: relative;
    margin-right: auto;
    max-height: 18rem;
    height: 28vw;
    margin-bottom: -25%; //unit is the img-box width
  }

  // title-box position
  &__title-box {
    color: white;
  }
}

.b-about-me {
  padding: 4rem 3rem 3rem 3rem;
}
