// Homepage Layout & unique setting

.b-summary {
  //   Position children
  padding: 3rem;

  //   Background
  background-color: var(--color-primary);
  background-image: url(../img/portfolio/sp_main_bg.png);
  background-size: cover;
  background-position: 80% 0;

  // img-box position
  &__img-box {
    position: relative;
    margin-right: auto;
    max-height: 18rem;
    height: 28vw;
    margin-bottom: -20%; //unit is the img-box width

    @include respond(tab-port2) {
      height: 15rem;
      width: 15rem;
      margin: 0 auto;
      max-height: none;
    }

    @include respond(phone) {
      height: 10rem;
      width: 10rem;
    }
  }

  // title-box position
  &__title-box {
    color: white;
  }
}

.b-about-me {
  padding: 4rem 3rem 3rem 3rem;

  @include respond(tab-port2) {
    padding: 2.5rem;
  }
}
