.b-clients {
  &__list {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
  }

  &__item {
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--color-typo-grey-light);
    color: white;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);

    & p {
      transform: rotate(-45deg);
      font-size: 0.9rem;
    }

    &:hover {
      background-color: var(--color-typo-grey);
      cursor: pointer;
    }
  }

  @include respond(tab-port2) {
    margin-top: 2rem;
  }
}
